parameters:
  level: 9
  paths:
    - src
    - tests
  ignoreErrors:
    - '#^Access to an undefined property Rougin\\Classidy\\ClassTest\:\:\$loud\.$#'
    - '#^Call to an undefined method Rougin\\Classidy\\ClassTest\:\:name\(\)\.$#'
    - '#^Call to an undefined method Rougin\\Classidy\\MethodTest\:\:greet\(\)\.$#'